@charset "UTF-8";

/* Typical Device Breakpoints
-----------------------------

Pequenas Telas: até 600 px
Celular: de 600 px até 768 px
Tablet: 768 px até 992 px
Desktop: 992 px até 1200 px
Grandes Telas: acima de 1200 px
*/

@media screen and (min-width: 768px) {
    /* até 768px, vai mostrar hamburguer de menu.. acima disso, vai mostrar o menu "normal" */

    /* Se quisesse até tablet, colocaria o min-width: 992px; */

    span#burguer {
        display: none;    
    }

    nav {
        display: block
    }

    nav > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}