@charset "UTF-8";

/* Versão Mobile First - Versão pensada primeiro para Mobile, que depois será portada para PC e outros */

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: url(../imagens/back-phone.jpg) no-repeat;
    background: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.783);
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.47) ;
}

img {
    display: block;
    margin: auto;
}


img#phone {display: block;}
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}

